.App {
  text-align: center;
}

.card img{
  height: 350px;
}
.card{
  margin-bottom: 30px;
  
}
.filter{
  padding: 10px;
  text-align: center;
  width: 20%;
  margin: 30px;
  
}
.filter-wrapper{
  display: flex;
  justify-content: space-between;
  
}
